html, body {
    height: 100%;
  }
  
  body {
    background-color: #262626;
  }

  .boxTiny {
    background-color: #577a14;
    height: 50px;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 3;
  }


  #flex-container{
    display: flex;
    width: 500px;
    height: 530px;
    align-items: flex-end;
    margin-top: 4%;
    margin-left: 10%;
    font-family: 'Space Mono', monospace;
    align-items: flex-end;
    position: relative;
  }

  .txtbox{
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    display: flex;
    align-items: flex-end;
  }


  #chartsubject{
    white-space: nowrap;
    margin-bottom: 1rem;
  }

  #line0, #line1, #line2{
    border-left: 3px solid transparent;
    opacity: 0;
    height: 0px;
    white-space: nowrap;
    position: absolute;
  }

  #line0{
    margin-left: 20%;
  }

  #line1{
    margin-left: 21.7%;
  }

  #line2{
    margin-left: 23.3%;
  }


  .countnumb0, .countnumb1, .countnumb2 {
    transform: translateY(-0.5em);
    font-size: 1;
  }

  .countnumb0{
    margin-left: 42%;
  }

  .countnumb1{
    margin-left: 24%;
  }

  .countnumb2{
    margin-left: 27%;
  }

  .subtxt0, .subtxt1, .subtxt2 {
    transform: translateY(-3em);
    text-transform:uppercase;
    font-size: 0.4em;
  }
  
  .subtxt0{
    margin-left: 42%;
  }

  .subtxt1{
    margin-left: 24%;

  }

  .subtxt2{
    margin-left: 27%;

  }

  /*
  *{
    border: 1px solid pink;
  }
*/