html, body {
    height: 100%;
  }
  
  body {
    background-color: #262626;
  }

  .boxTiny {
    background-color: #577a14;
    height: 50px;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 3;
  }


  #flexcontainer{
    display: flex;
    width: 500px;
    height: 530px;
    align-items: flex-end;
    margin-top: 4%;
    margin-left: 10%;
    font-family: 'Space Mono', monospace;
    align-items: flex-end;
    position: relative;
  }

  .txtbox{
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    display: flex;
    align-items: flex-end;
  
  }


  #rotext{
    white-space: nowrap;
    margin-bottom: 1rem;
  }


  #line{
    border-left: 3px solid transparent;
    opacity: 0;
    white-space: nowrap;
    float: left;
  }

  #line2{
    border-left: 3px solid #A6A8A6;
    white-space: nowrap;
    margin-left: 21.6%;
    position: absolute;
    height: 0px;
  }


  #line3{
    border-left: 3px solid #6F706F;
    white-space: nowrap;
    margin-left: 23.3%;
    position: absolute;
    height: 0px;
  }


  .countnumb, .countnumb2, .countnumb3 {
    transform: translateY(-0.5em);
    font-size: 1;
  }

  .countnumb{
    margin-left: 11%;
  }

  .countnumb2{
    margin-left: 14%;
  }

  .countnumb3{
    margin-left: 8%;
  }

  .subtxt, .subtxt2, .subtxt3 {
    transform: translateY(-3em);
  }
  
  .subtxt{
    text-transform:uppercase;
    font-size: 0.4em;
    margin-left: 11%;

  }

  .subtxt2{
    text-transform:uppercase;
    font-size: 0.4em;
    margin-left: 14%;

  }

  .subtxt3{
    text-transform:uppercase;
    font-size: 0.4em;
    margin-left: 8%;

  }




  
